.tracks-header
  padding: 5px 0 10px

.track
  padding-bottom: 5px

.tracks-header, .track
  width: 100%

  div
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0

  .number
    flex-grow: 0
    flex-shrink: 0
    flex-basis: 50px

  .duration
    flex-grow: 0
    flex-shrink: 0
    flex-basis: 100px