@import "Colors"

.flex
    display: flex

h1
    margin: 20px 10px
    height: 40px

.playlist-container
    padding: 20px 10px

.dark-theme
    color: #eeeeee
    background-color: $background-dark

    .toggle-theme-btn
        background-color: $button-background-color-dark-theme
        border-color: $button-border-color-dark-theme
        color: $text-color-dark-theme


.toggle-theme-btn
    position: absolute
    top: 44px
    right: 40px
    height: 36px
    font-size: 1.2em
    background-color: $button-background-color-light-theme
    border-radius: 5px
    cursor: pointer

